<!DOCTYPE html>
<html lang="en">
<head>
  <title>Карго</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.4.2/js/all.js" integrity="sha384-wp96dIgDl5BLlOXb4VMinXPNiB32VYBSoXOoiARzSTXY+tsK8yDTYfvdTyqzdGGN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div class="w3-top">
    <div class="w3-bar w3-amber w3-large">
      <a href="#" class="w3-bar-item w3-button">
        <i class="fas fa-shipping-fast fa-2x  w3-large"></i> CHINASHIP грузоперевозки из Китая</a>
      <a href="#" class="w3-bar-item w3-button">Контакты</a>
      <a href="#" class="w3-bar-item w3-button">Цены</a>
      <div class="w3-dropdown-hover">
      <button class="w3-button">Услуги<i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="#" class="w3-bar-item w3-button">Закуп продукции</a>
      <a href="#" class="w3-bar-item w3-button">Инспекция</a>
      <a href="#" class="w3-bar-item w3-button">Логистика</a>

    </div>

    </div>
    <a href="#" class="w3-bar-item w3-button"><i class="fas fa-calculator"></i> Расчитать</a>

     <div class="w3-bar-item w3-right"><i class="fas fa-phone"></i>+7(800)888-88-88</div>
</div>
</div>

<br><br><br>

<div class="w3-container">

  <div class="w3-display-container w3-border-right w3-border-left" style="height:300px;">

    <div class="w3-display-middle w3-padding">

Здесь какой-то текст. Lorem ipsum dolor sit amet,
consectetur adipisicing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
cupidatat non proident, sunt in culpa qui officia deserunt mollit
 anim id est laborum.

  <ul class="w3-ul w3-margin" style="width:60%">
      <li><i class="fas fa-check"></i> Какие-то преимущества</li>
      <li><i class="fas fa-check"></i> Или еще что-то</li>
      <li><i class="fas fa-check"></i> И так далее</li>
    </ul>

</div>
</div></div>


  <div class="w3-panel w3-amber w3-round-xlarge" style="width:50%">
    <p>Рассчитать доставку:</p>
  </div>
<form class="w3-container w3-card-4" action="#" method="post">
<br>
Откуда: <input list="browsers" name="browser">
  <datalist id="browsers" name="from">
    <option value="Гуанджоу">
    <option value="Шенжень">
    <option value="Пекин">
    <option value="Иву">
    <option value="Юхань">
  </datalist>


  Куда: <input list="browserss" name="browser">
  <datalist id="browserss">
    <option value="Москва">
    <option value="Санкт-Питербург">
    <option value="Казань">
    <option value="Новосибирск">
    <option value="Грозный">
  </datalist>


<P>  Вид транспорта:</P>

  <p>
    <input type="radio" class="w3-radio" name="optradio"><label><i class="fas fa-fighter-jet"></i> Авиа
    </label>
  </p>

  <p>
    <input type="radio" class="w3-radio" name="optradio"><label><i class="fas fa-train"></i> ЖД
    </label>
  </p>

  <p>
    <input type="radio" class="w3-radio" name="optradio"><label><i class="fas fa-truck"></i> Авто
    </label>
  </p>

  <p>
    <input type="radio" class="w3-radio" name="optradio"><label><i class="fas fa-ship"></i> Море
    </label>
  </p>


  <p>Информаци о грузе:</p>
  Объем:
  <input type="number" name="quantity" min="1" max="100000" class="ws-input">
  Вес:
  <input type="number" name="quantity" min="1" max="100000">

<p>Примерная стоимость груза:</p>
<input type="number" name="quantity" min="1" max="100000">
<label for="customRange">$ (Доллары США)</label><br>



<div class="w3-panel w3-amber w3-round-xlarge" style="width:50%">
  <p>Еще какие-то разделы:</p>
</div>
<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</div>
</body>
</html>
